{{ define "main" }}
  {{ if or (eq .Section "notes") (eq .Type "notes") }}
    <header class="note-header">
      {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
      {{ with .Date }}
        <p class="note-meta">
          <time datetime="{{ .Format "2006-01-02" }}">
            {{ .Format "Mon Jan 02 2006" }}
          </time>
        </p>
      {{ end }}
      {{ with (.GetTerms "tags") }}
        <p class="note-tags">
          {{ range . }}<a href="{{ .Permalink }}">#{{ .LinkTitle }}</a> {{ end }}
        </p>
      {{ end }}
    </header>
  {{ else }}
    {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
  {{ end }}

  <content>
    {{ .Content }}
  </content>

  {{ if and (or (eq .Section "notes") (eq .Type "notes")) (.Param "enableNoteNavigator") }}
    {{ partial "note_navigator.html" . }}
  {{ end }}
{{ end }}
